img.sponsor-plat {
  max-width: 350px;
  max-height: 350px;
  @media (max-width: 576px) {
    max-width: 300px;
    max-height: 300px;
  }
}

img.sponsor-gold {
  max-width: 250px;
  max-height: 250px;
}

img.sponsor-silv {
  max-width: 155px;
  max-height: 155px;
}

img.sponsor-coal {
  max-width: 100px;
  max-height: 100px;
}

img.media {
  max-width: 250px;
  max-height: 250px;
  @media (max-width: 576px) {
    max-width: 155px;
    max-height: 155px;
  }
}

.organizers {
  display: inline-block;
  max-width: 80px;
  img {
    max-width: 80px;
  }
}

@media (max-width: 576px) {
  .organizers {
    img {
      margin-bottom:20px;
    }
  }

}