#venue {
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  .venue2017{
    background-image: url(../img/2017/venue.jpg);
  }
  .venue2019{
    background-image: url(../img/venue.jpg);
  }
}
.google-maps {
    position: relative;
    padding-bottom: 100%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
    max-width: 600px;
    max-height: 450px;
    margin: 0 auto;
    margin-top: 20px; 

    @media (min-width: 768px) {
      padding-bottom: 40%;
    }
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}